import { defHttp } from '/@/utils/http/axios'
import { PageResult, Result } from '/#/axios'
import { BaseEntity } from '/#/web'

/**
 * 分页
 */
export function page(params) {
  return defHttp.get<Result<PageResult<${entityUpName}>>>({
    url: '${requestPath}/page',
    params,
  })
}

/**
 * 查询全部
 */
export function findAll() {
  return defHttp.get<Result<${entityUpName}[]>>({
    url: '${requestPath}/findAll',
  })
}

/**
 * 获取单条
 */
export function get(id) {
  return defHttp.get<Result<${entityUpName}>>({
    url: '${requestPath}/findById',
    params: { id },
  })
}

/**
 * 添加
 */
export function add(obj: ${entityUpName}) {
  return defHttp.post({
    url: '${requestPath}/add',
    data: obj,
  })
}

/**
 * 更新
 */
export function update(obj: ${entityUpName}) {
  return defHttp.post({
    url: '${requestPath}/update',
    data: obj,
  })
}

/**
 * 删除
 */
export function del(id) {
  return defHttp.delete({
    url: '${requestPath}/delete',
    params: { id },
  })
}

/**
 * ${comments}
 */
export interface ${entityUpName} extends BaseEntity {
#foreach ($column in $columns)
  // $column.comments
  $column.name?: $column.tsType
#end
}
