package ${corePack}.dao;

import ${paramPack}.${entityUpName}Param;
import ${corePack}.entity.${entityUpName};
import cn.bootx.platform.common.mybatisplus.impl.BaseManager;
import cn.bootx.platform.common.core.rest.param.PageParam;
import cn.bootx.platform.common.mybatisplus.base.MpIdEntity;
import cn.bootx.platform.common.mybatisplus.util.MpUtil;
import cn.bootx.platform.common.query.generator.QueryGenerator;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Repository;

/**
 * ${comments}
 * @author ${author}
 * @since ${datetime}
 */
@Repository
@RequiredArgsConstructor
public class ${entityUpName}Manager extends BaseManager<${entityUpName}Mapper, ${entityUpName}> {

    /**
    * 分页
    */
    public Page<${entityUpName}> page(PageParam pageParam, ${entityUpName}Param param) {
        Page<${entityUpName}> mpPage = MpUtil.getMpPage(pageParam, ${entityUpName}.class);
        QueryWrapper<${entityUpName}> wrapper = QueryGenerator.generator(param, this.getEntityClass());
        wrapper.select(this.getEntityClass(),MpUtil::excludeBigField)
                .orderByDesc(MpUtil.getColumnName(${entityUpName}::getId));
        return this.page(mpPage,wrapper);
    }
}
