package ${paramPack};

import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;

import cn.bootx.platform.common.core.annotation.QueryParam;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.experimental.Accessors;

/**
 * ${comments}
 * @author ${author}
 * @since ${datetime}
 */
@QueryParam(type = QueryParam.CompareTypeEnum.LIKE)
@Data
@Schema(title = "${comments}")
@Accessors(chain = true)
public class ${entityUpName}Param {

    @Schema(description= "主键")
    private Long id;

#foreach ($column in $columns)
    @Schema(description = "$column.comments")
    private $column.javaType $column.name;
#end

}
