<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--项目名称-->
    <property name="appname" value="bootx-platform"/>
    <!--日志位置-->
    <property name="logdir" value="logs"/>

    <!-- 导入 -->
    <include resource="cn/bootx/platform/common/log/logback-sensitive.xml"/>
    <include resource="cn/bootx/platform/common/log/logback-console.xml"/>
    <include resource="cn/bootx/platform/common/log/logback-log-file.xml"/>

    <!-- plumelog Redis方式日志收集 -->
    <appender name="plumelog" class="com.plumelog.logback.appender.LiteAppender">
        <appName>bootx-platform</appName>
        <plumelogHost>127</plumelogHost>
    </appender>

    <!-- 开发输出级别 -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="fileInfoLog"/>
    </root>

</configuration>
