package ${controllerPack};

import cn.bootx.platform.common.core.rest.PageResult;
import cn.bootx.platform.common.core.rest.Res;
import cn.bootx.platform.common.core.rest.ResResult;
import cn.bootx.platform.common.core.rest.param.PageParam;
import ${corePack}.service.${entityUpName}Service;
import ${dtoPack}.${entityUpName}Dto;
import ${paramPack}.${entityUpName}Param;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Tag(name ="${comments}")
@RestController
@RequestMapping("${requestPath}")
@RequiredArgsConstructor
public class ${entityUpName}Controller {
    private final ${entityUpName}Service ${entityLowName}Service;

    @Operation( summary = "添加")
    @PostMapping(value = "/add")
    public ResResult<Void> add(@RequestBody ${entityUpName}Param param){
        ${entityLowName}Service.add(param);
        return Res.ok();
    }

    @Operation( summary = "修改")
    @PostMapping(value = "/update")
    public ResResult<Void> update(@RequestBody ${entityUpName}Param param){
        ${entityLowName}Service.update(param);
        return Res.ok();
    }

    @Operation( summary = "删除")
    @DeleteMapping(value = "/delete")
    public ResResult<Void> delete(Long id){
        ${entityLowName}Service.delete(id);
        return Res.ok();
    }

    @Operation( summary = "通过ID查询")
    @GetMapping(value = "/findById")
    public ResResult<${entityUpName}Dto> findById(Long id){
        return Res.ok(${entityLowName}Service.findById(id));
    }

    @Operation( summary = "查询所有")
    @GetMapping(value = "/findAll")
    public ResResult<List<${entityUpName}Dto>> findAll(){
        return Res.ok(${entityLowName}Service.findAll());
    }

    @Operation( summary = "分页查询")
    @GetMapping(value = "/page")
    public ResResult<PageResult<${entityUpName}Dto>> page(PageParam pageParam, ${entityUpName}Param ${entityLowName}Param){
        return Res.ok(${entityLowName}Service.page(pageParam,${entityLowName}Param));
    }
}
