<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daxpay.single.service.core.order.pay.dao.PayOrderMapper">
    <insert id="insertList">
        insert into pay_order (id,`status`,`version`,`deleted`)
        values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.id,jdbcType=BIGINT},
            #{item.status,jdbcType=VARCHAR},
            #{item.version,jdbcType=INTEGER},
            #{item.deleted,jdbcType=BIT})
        </foreach>
    </insert>
</mapper>
