<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bootx.platform.iam.core.permission.dao.PermPathMapper">

    <insert id="saveAll">
        INSERT INTO  iam_perm_path
        (id, code, name, request_type, path, group_name, enable, generate, remark, creator, create_time, last_modifier, last_modified_time, deleted, version)
        values
        <foreach collection ="permPaths" item="o" index= "index" separator =",">
            (
            #{o.id},
            #{o.code},
            #{o.name},
            #{o.requestType},
            #{o.path},
            #{o.groupName},
            #{o.enable},
            #{o.generate},
            #{o.remark},
            #{o.creator},
            #{o.createTime},
            #{o.lastModifier},
            #{o.lastModifiedTime},
            #{o.deleted},
            #{o.version}
            )
        </foreach>
    </insert>

</mapper>
