<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bootx.platform.iam.core.upms.dao.RolePathMapper">

    <insert id="saveAll">
        INSERT INTO  iam_role_path
        (id, role_id, permission_id)
        values
        <foreach collection ="rolePaths" item="o" index= "index" separator =",">
            (
            #{o.id},
            #{o.roleId},
            #{o.permissionId}
            )
        </foreach>
    </insert>

</mapper>
