<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bootx.platform.iam.core.user.dao.UserDeptMapper">

    <insert id="saveAll">
        INSERT INTO  iam_user_dept
        (id, user_id, dept_id)
        values
        <foreach collection ="userDepots" item="o" index= "index" separator =",">
            (
            #{o.id},
            #{o.userId},
            #{o.deptId}
            )
        </foreach>
    </insert>
</mapper>
