<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bootx.platform.iam.core.upms.dao.UserRoleMapper">

    <insert id="saveAll">
        INSERT INTO  iam_user_role
        (id, user_id, role_id)
        values
        <foreach collection ="userRoles" item="o" index= "index" separator =",">
            (
            #{o.id},
            #{o.userId},
            #{o.roleId}
            )
        </foreach>
    </insert>
</mapper>
